<div class="history-list" ng-show="histories.length">
    <form class="form">
        <div class="form-group">
            <filter-term term="filterTerm"></filter-term>
        </div>
    </form>

    <div class="list-group">
        <div class="list-group-item" ng-repeat="history in histories | filter:filterTerm">
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="deleteHistory(history)">Delete</a>
                    </li>
                    <li>
                        <a ng-click="renameHistory(history)">Rename</a>
                    </li>
                </ul>
            </div>
            <a href="/history/{{history.id}}/{{history.steps}}" class="list-group-item-heading">
                <span class="pull-right badge">{{history.steps}}</span>
                {{history.title}}
            </a>
            <p class="list-group-item-text">{{history.description}}</p>
            <p class="list-group-item-text">{{history.created_at | roughDate}}</p>
        </div>
    </div>
</div>

<div ng-show="!histories.length">
    <p class="block-text">
    You haven't created any sets of steps here before. You can use any of
    the starting-point tools to add a a set of steps to your history. If you need
    any help, or would just like some information on getting started, you can
    find out more by visiting the <a href="/about#usage">usage guide</a>.
    </p>
</div>
