/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
staircase.log
staircase.log.*
resources/secret*
node_modules
resources/public/vendor/*
.DS_Store
external
hs_err_pid*
resources/public/css/style.css
resources/public/js/app.js
resources/public/js/bootstrap.js
resources/public/js/controllers.js
resources/public/js/controllers/brand.js
resources/public/js/controllers/choose-dialogue.js
resources/public/js/controllers/facets.js
resources/public/js/controllers/history-step.js
resources/public/js/controllers/history.js
resources/public/js/controllers/options-dialogue.js
resources/public/js/controllers/required.js
resources/public/js/controllers/starting-points.js
resources/public/js/directives.js
resources/public/js/filters.js
resources/public/js/init.js
resources/public/js/lines.js
resources/public/js/messages.js
resources/public/js/mines/services.js
resources/public/js/projects.js
resources/public/js/projects/controllers.js
resources/public/js/projects/services.js
resources/public/js/routes.js
resources/public/js/services.js
resources/tools/combine-lists/combine-lists.css
resources/tools/combine-lists/dialogue.js
resources/tools/combine-lists/heading-controller.js
resources/tools/convert-list/heading-controller.js
resources/tools/export/heading-controller.js
resources/tools/id-handler/heading-controller.js
resources/tools/list-templates/dialogue.js
resources/tools/list-templates/heading-controller.js
resources/tools/list-templates/list-templates.css
resources/tools/list-templates/template-controller.js
resources/tools/region-search/heading-controller.js
resources/tools/show-enrichment/provider.js
resources/tools/show-list/heading-controller.js
resources/tools/show-list/provider.js
resources/tools/show-table/provider.js
resources/tools/templates/controller.js
resources/tools/templates/headline.js
