{
    :bower-tools [
        [keyword-search
         "https://github.com/intermine-tools/multimine-search-tool.git"]]

    :strings {
              :projects.projects "Folders"
              :projects.add-item "Add Item"
              :projects.add-project "Create Folder"
              :projects.empty-folder "Empty Folder"
              :projects.create-folder-to-begin "Please begin by creating a folder."
              }
    :exceptions {
      {:type :constraint-violation :constraint "projects_title_sluggish"}
      "Project titles must not have slashes in them"}
}
