{
    :tool-categories {
      "Gene Ontology" {:icon "fa-search"}
      "Expression" {:icon "fa-test"}
      "Homologue" {:icon "fa-search"}
      "Interactions" {:icon "fa-search"}
      "Regulation" {:icon "fa-search"}
      "Diseases" {:icon "fa-search"}
      "Proteins" {:icon "fa-search"}
      "Literature" {:icon "fa-search"}
      "Protein Domains" {:icon "fa-search"}
      "Pathways" {:icon "fa-search"}
    }

    :bower-tools [
        [keyword-search
         "https://github.com/intermine-tools/multimine-search-tool.git"]]

    :strings {
              :projects.projects "Folders"
              :projects.add-item "Add Item"
              :projects.add-project "Create Folder"
              :projects.empty-folder "Empty Folder"
              :projects.create-folder-to-begin "Please begin by creating a folder."
              }
    :exceptions {
      {:type :constraint-violation :constraint "projects_title_sluggish"}
      "Project titles must not have slashes in them"}
}
