<form role="form" class="identifier-upload form-inline compact">
    <div class="form-group half-width"
        ng-class="{'full-width': !discriminator}">
        <label class="control-label">
            Choose a type:
        </label>
        <select
                class="form-control"
                ng-model="rootClass"
                ng-options="cld.displayName for cld in classes">
        </select>
    </div>
    <div class="form-group half-width" ng-hide="!discriminator">
        <label class="control-label">
            {{discriminator}}:
        </label>
        <select
                class="form-control"
                ng-model="extraValue"
                ng-options="val for val in extraValues">
        </select>
    </div>
    <tabset type="navType">
        <tab heading="Enter IDs">
            <div class="form-group full-width">
                <textarea class="literal"
                    ng-model="ids.pasted"
                    spellcheck="false"
                    rows="{{tool.state === 'FULL' ? 10 : 5}}"
                    style="width: 100%"></textarea>
                <p class="help-block">
                Type or paste in a list of identifiers.
                <a ng-click="ids.pasted = tool.sampleData">
                    Click here for an example.
                </a>
                </p>
            </div>
        </tab>
        <tab heading="Choose file">
            <div class="alert alert-danger" ng-if="!filesAreSupported">
                <strong>Sorry!</strong> The HTML5 file API is not supported in this browser.
            </div>
            <div class="form-group" ng-if="filesAreSupported">
                <html5-file-upload ng-model="ids.file"/>
            </div>
            <div>
                <div class="alert alert-info" ng-show="ids.file">
                    <strong>{{ids.file.name}}</strong> ({{ids.file.type || 'unknown'}}) - {{ids.file.size}} bytes
                </div>
                <p class="help-block">
                Upload identifiers from a tab, comma or new-line delimited text file.
                </p>
            </div>
        </tab>
        <tab heading="Parsed IDs">
            <div class="well tokens">
                <span class="token label label-default pull-left fade-out"
                    ng-repeat="ident in parsedIds | orderBy:sorting">
                    <i class="pull-left fa fa-times-circle"
                       ng-click="removeToken(ident)"></i>
                    {{ident.token}}
                </span>
                <div class="clearfix"></div>
            </div>
            <div class="btn-group">
                <button class="btn btn-default"
                    ng-click="sorting = ''"
                    ng-class="{active: sorting == ''}">
                    As entered
                </button>
                <button class="btn btn-default"
                    ng-click="sorting = 'token'"
                    ng-class="{active: sorting == 'token'}">
                    Sort alphabetically
                </button>
            </div>
        </tab>
    </tabset>

</form>
