.about {
    background-color: @panel-bg;
    padding: 2 * @panel-body-padding;
    position: relative;
    top: -18px;

}

.about-header {
    padding-left: @about-header-size / 2;
    padding-right: @about-header-size / 2;
    margin-bottom: 1em;
    font-size: 24px;
    text-align: left;
    position: relative;
    //background-color: @brand-primary;
    //color: lighten(@brand-primary, 50%);

    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        line-height: 1;
        margin-top: 0;
        font-size: @about-header-size;
        // color: rgb(255, 255, 255);

        @media (min-width: @screen-md) {
            font-size: @about-header-size-md;
        }
    }

    @media (min-width: @screen-md) {
        padding-left: @about-header-size-md / 2;
        padding-right: @about-header-size-md / 2;
    }

}

