@about-header-size: 128px;

.about {
    background-color: @panel-bg;
    padding: 2 * @panel-body-padding;
    position: relative;
    top: -18px;

}

.about-header {
    padding-left: @about-header-size / 2;
    padding-right: @about-header-size / 2;
    margin-bottom: 1em;
    font-size: 24px;
    text-align: left;
    position: relative;
    //background-color: @brand-primary;
    //color: lighten(@brand-primary, 50%);

    h1 {
        font-family: 'Open Sans Condensed',sans-serif;
        font-weight: normal;
        text-align: center;
        font-size: @about-header-size;
        margin-left: auto;
        margin-right: auto;
        line-height: 1;
        margin-top: 0;
        // color: rgb(255, 255, 255);
    }

}

