@import "mixins";
@import "variables";

body {
    padding: 0;
    font-weight: 300;
    .full-size();
}

body.staircase {
    background: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: @body-padding-top @body-padding-side @body-padding-side @body-padding-side;
    .bg-img(@body-bg-img);
}

#content {
    flex: 1;
}

