@import "mixins";
@import "variables";

body {
    background: #333;
    margin: 0;
    padding: @body-padding-top @body-padding-side @body-padding-side @body-padding-side;
    font-weight: 300;
    .full-size();
    .bg-img(@body-bg);
}

