.flex-row {

    &.guttered {
        padding: (@grid-gutter-width / 2) 0;

        .flex-box {
            margin: 0 @grid-gutter-width / 2;
        }
    }
    display: flex;
    flex-wrap: wrap;

    .flex-box.fit {
        flex: 1;
    }
    .flex-box.full {
        flex: 1 0 100%;
    }

}
