.footer {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    width: 100%;
    
    ul li {
        list-style-type: none;
    }
    ul ul {
        padding-left: 15px;
        padding-start: 15px;
    }

}

.footer .panel {
    margin-bottom: 0;
}

#cookie-message {
    position: fixed;
    bottom: 0;

    p {
        color: @text-color;
    }
}
