.navbar-custom .navbar-nav > li > a.persona-button {
    color: #fefefe;
    font-size: 0.85em;
    padding: 0em;
    font-family: @font-family-base;
}

.navbar-custom {
    background-color: fade(@navbar-inverse-bg, 90%);
    font-weight: 400;
}

.navbar-custom .navbar-collapse > .navbar-form {
    max-width: 40%;
}

.navbar-inverse {
    .navbar-brand, .navbar-nav > li > .dropdown-toggle {
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}
