.navbar-custom .navbar-nav > li > a.persona-button {
    color: #fefefe;
    margin: 0.35em;
    font-size: 1em;
    padding: 0.2em;
}

.navbar-custom .navbar-collapse > .navbar-form {
    max-width: 50%;
}

