.next-steps {
    .list-group-item:hover {
        background: @brand-primary;
        color: @brand-primary-inverse;
        a {
            color: @brand-primary-inverse;
            text-decoration: none;
        }
    }
    a {
        color: @text-color;
        text-decoration: none;
    }
    a:hover > i.fa {
        font-size: 1.1em;
    }

    .list-group-item {
        border: none;
    }
}
