.history-view {
    .sidebar {
        @media (min-width: @screen-md-min) {
            position: absolute;
            left: 1%;
        }

        .collapser {
            display: block;
            @media (min-width: @screen-md-min) {
                display: none;
            }
        }

        font-size: 1.1em;

        .list-group-item.active {
            position: relative;
        }
        .list-group-item.active:after {
            display: none;
            @media (min-width: @screen-md-min) {
                display: block;
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-left-color: @list-group-active-bg;
                border-width: 20px;
                margin-top: -20px;
            }
        }

        .panel-heading, .panel-body, a {
            transition: padding 0.2 ease-in;
        }

    }

    .sidebar.minimised {
        left: -15%;
    }

    .sidebar.collapsed {
        .panel-body, .list-group {
            display: none;
            @media (min-width: @screen-md-min) {
                display: block;
            }
        }
    }

    .next-steps.slide-right {
        position: relative;
        @media (min-width: @screen-md-min) {
            position: absolute;
        }

        &.offscreen {
            right: -100%;
            display: none;
            @media (min-width: @screen-md-min) {
                display: block;
                right: -16%;
            }
        }

        &.onscreen {
            right: 0%;
            display: block;
            @media (min-width: @screen-md-min) {
                right: 1%;
            }
        }

    }

    .facets {
        .panel-body {
            padding-right: 10px; /* fixed value bad. TODO: calculate */
        }

        h4 {
            margin-left: 1em;

            .fa {
                margin-right: 0.5em;
            }
        }
        .closed .facet {
            display: none;
        }
        .facet.btn {
            border-right: none;
            border-left: none;
            border-bottom-width: 0;
        }
        .facet.btn.active .badge {
            background: @label-primary-bg;
        }
        .facet.btn:last-child {
            border-bottom-width: 1px;
        }
    }

}


