.slide-left {
    left: 0;
    transition: margin-left 0.3s ease-in, left 0.3s ease-in,width 0.3s ease-in;
}

.slide-right {
    right: 0;
    transition: right 0.3s ease-in,width 0.3s ease-in;
}

.fade-out.ng-leave {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.fade-out.ng-leave.ng-leave-active {
    opacity: 0;
}
