.nav, .pagination, .carousel, a.navbar-brand, .panel-title a { cursor: pointer }

.tabbable > .tab-content {
    padding-top: 0.25em;
}

i.fa[ng-click],
button[ng-click],
label[ng-click],
a[ng-click] {
    cursor: pointer;
}
[draggable] {
    cursor: move;
}

.panel-default {
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 1px rgba(0,0,0,0.08);
}

.list-group-item {
    p.list-group-item-text {
        max-width: 50em; /* Very wide text is difficult to read */
    }
    a.list-group-item-link {
        font-weight: bold;
    }
}
