@body-bg: url('../images/honey_im_subtle.png');
@fa-font-path: "../fonts";

@bold-weight: 500;
@panel-border-radius: 0;
@font-family-sans-serif: 'Roboto', "Helvetica Neue", "Helvetica", Arial, sans-serif; 
@font-size-base: 13px;

@grid-gutter-width: 20px;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

@panel-body-padding: 0.75em;
