<form class="form-inline">
    <div class="form-group">
        Find
        <input class="input-sm form-control" type="text" ng-model="outputType" typeahead="cld as cld.displayName for cld in classes | filter:$viewValue">,
        given information about a
        <input class="input-sm form-control" type="text" ng-model="inputType" typeahead="cld as cld.displayName for cld in classes | filter:$viewValue">
    </div>
    <div class="form-group">
        <filter-term term="templateFilter"></filter-term>
    </div>
</form>

<div class="badge-box">
    <span class="badge {{c.meta.color}}"
        ng-repeat="c in connections | values | uniq"
        ng-click="c.disabled = !c.disabled"
        ng-class="{disabled: c.disabled}">
        {{ c.name }}
        {{ filteredTemplates | fromService:c | count }}
    </span>
</div>

<div class="list-group">
    <img class="loading" src="/images/loading.gif" ng-hide="templates">
    <div class="alert alert-info" ng-show="templates && !filteredTemplates.length">
        <p>
            <strong>Sorry</strong>
            No queries found.
        </p>
    </div>
    <div class="list-group-item"
         ng-controller="TemplateListRowController as row"
         ng-repeat="template in filteredTemplates = (suitableTemplates | filterTemplates:templateFilter:connections | orderBy:'title' )"
         ng-hide="controller.template && (controller.template !== template)">
        <a ng-click="controller.toggleSelected(template)"
            class="list-group-item-heading">
            <span class="badge"
                title="{{ template.service.name }}"
                ng-class="template.service.meta.color">
                {{ template.service.name | limitTo:1 }}
            </span>
            {{template | templateTitle}}
        </a>
        <p class="list-group-item-text">{{template.description}}</p>
        <div ng-if="controller.template && (controller.template === template)">
            <form class="form" ng-submit="row.runTemplate()">
                <div class="form-group"
                    ng-class="{disabled: constraint.switched === 'OFF'}"
                    ng-repeat="constraint in template.constraints | filter:{editable:true}">
                    <label>{{formattedPaths[constraint.path]}} {{constraint.op}}</label>
                    <div class="input-group">
                        <input class="form-control"
                               ng-disabled="constraint.replaceWithList || (constraint.switched === 'OFF')"
                               placeholder="Value for {{formattedPaths[constraint.path]}}"
                               ng-model="constraint.value">
                        <span class="input-group-btn"
                            title="{{ constraint.switchable ? 'Toggle constraint' : 'You must provide a value for this constraint' }}">
                            <button class="btn btn-default"
                                type="button"
                                blur-on="click"
                                ng-disabled="!constraint.switchable"
                                ng-click="row.switchConstraint(constraint)">
                                <i class="fa"
                                  ng-class="{
                                  'fa-toggle-on': (constraint.switchable && constraint.switched === 'ON'),
                                  'fa-toggle-off': (constraint.switchable && constraint.switched == 'OFF'),
                                  'fa-lock': (!constraint.switchable)
                                  }"></i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group" ng-if="constraint.op === 'LOOKUP'">
                        <label>
                            <input type="checkbox" ng-model="constraint.replaceWithList">
                            Or constrain to be in list:
                        </label>
                        <select class="form-control"
                                ng-disabled="!constraint.replaceWithList || (constraint.switched === 'OFF')"
                                ng-model="constraint.list"
                                ng-options="list as list.name for list in row.compatibleLists(constraint.path)">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label ng-click="showView = !showView">
                    <i class="fa"
                        ng-class="{'fa-caret-down': showView, 'fa-caret-right': !showView}"></i>
                    Returns {{template.views.length}} columns
                    </label>
                    <div class="well well-sm" ng-hide="!showView">
                        <span class="label label-primary output-column" ng-repeat="path in template.views">
                            {{formattedPaths[path]}}
                        </span>
                    </div>
                </div>
                <button ng-disabled="!results" class="btn btn-primary" type="submit">
                    View {{ results }} Rows in Table
                </button>
            </form>
        </div>
    </div>
</div>
