<span class="heading-text list-group-item">Templates</span>

<div
  class="list-group-item lists"
  ng-repeat="template in templates"
  ng-repeat="template in templates | filter:filterTerm"
  ng-hide="count === 0"
  ng-controller="TemplateController">

  <a ng-click="runTemplate()">
    <i ng-class="{'fa fa-fw fa-circle-o-notch fa-spin': !count && count != 0}"></i>

     <span class="badge">{{count}} rows</span>
     {{template.parsedTitle}}
   </a>

</div>

<div
  class="list-group-item lists">
  <a class="standout" ng-click="showTemplates()">
    Show more templates.
  </a>
</div>
